Django==1.11.4
psycopg2==2.7.3
django-nose==1.4.4
coverage==4.4.1
djangorestframework==3.6.3
django-rest-swagger==2.1.2
djangorestframework-jwt==1.8.0
pyjade==4.0.0
PyJWT==1.4.0
six==1.10.0
wheel==0.24.0